#search-box {
  padding: 25px;
  width: 80%;
  border: 1px solid #eee;
  outline: 0;
  font-size: 15px;
  color: #000;
  border-radius:5px;
  height: 45px;
  margin: auto;
  background-image: ../public/searchicone.png;
}

#search-result {
  margin: 20px 0 100px 0;
}

#search-meta {
  font-size: 13px;
  color: #666;
  height: 15px;
}

.package {
  max-width: 70%;
  border-bottom: 1px solid #eee;
  padding: 8px 0;
  margin-left: auto;
  margin-right: auto;
}

.package .name {
  font-weight: 400;
}
input, select, textarea{
    color: #000;
}

textarea:focus, input:focus {
    color: #000;
}
.-autocomplete-container {
    background: white;
    width: 70%;
    margin: auto;
    border: 1px solid #DDD;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.-autocomplete-list {
    list-style: none;
    width: 70%;
    left: 25%;
    margin-left: auto;
    margin-right: auto;
}

.-autocomplete-item {
    display: block;
    color: #000;
    height: 25px;
    width: 70%;
    border-bottom: 1px solid #DDD;
}

.-autocomplete-item.selected {
    color: black;
    background: #4183C4;
    text-decoration: none;
}
.-autocomplete-item{
    padding: 5px;
    color: black;
    size: 25px;
    
}