#search-box {
  padding: 10px;
  max-width: 70%;
  border: 1px solid #eee;
  outline: 0;
  font-size: 15px;
  color: #000;
}

#search-result {
  margin: 20px 0 100px 0;
}

#search-meta {
  font-size: 13px;
  color: #666;
  height: 15px;
}

.package {
  max-width: 70%;
  border-bottom: 1px solid #eee;
  padding: 8px 0;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}

.package .name {
  font-weight: 400;
}
input, select, textarea{
    color: #ff0000;
}

textarea:focus, input:focus {
    color: #ff0000;
}
